.block {
    background-color: lightslategray;
    color: white;
}

.block.mixed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block.text {
    background-color: transparent;
    color: black;
}