.block {
    background-color: lightslategray;
    color: white;
    flex-shrink: 0;
}


.block.outlined {
    border: 1px solid lightslategray;
    background-color: transparent;
}



.block.mixed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block.text {
    background-color: transparent;
    color: black;
}