:root {
  --navbar-height: 70px;
  --aside-width: 300px;
  --minimum-aside-width: 50px;
  --decorative-border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
main,
#root,
.application {
  width: 100%;
  height: 100%;
  overflow: hidden;
}