.general-layout {
    width: 100%;
    height: 100%;
}

.general-layout .content-wrapper {
    width: 100%;
    height: 100%;
    padding-top: var(--navbar-height);
    display: flex;
    flex-wrap: nowrap;
}

.general-layout .content-wrapper main{
    flex: auto
}